#!/bin/sh

errorExit() {
  echo "*** $@" 1>&2
  exit 1
}

curl --silent --max-time 2 --insecure https://{{ loadbalancer_vip }}:6443/ -o /dev/null || errorExit "Error GET https://{{ loadbalancer_vip }}:6443/"
if ip addr | grep -q {{ loadbalancer_vip }}; then
  curl --silent --max-time 2 --insecure https://{{ loadbalancer_vip }}:6443/ -o /dev/null || errorExit "Error GET https://{{ loadbalancer_vip }}:6443/"
fi